
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

article {
    margin-top: 20px;
}


/*buat halaman map*/

.map-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.map-base {
    width:100%;
    height: auto;
    display: block;
}

.pin-wrapper {
    position: absolute;
}

.map-pin {  
    width: 30px;
    height: auto;
    cursor: pointer;
}

.popup-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
}

.pin-popup {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 200px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 10;
}

.pin-popup p {
    text-align: justify;
    overflow-wrap: break-word;
}

.pin-wrapper:hover .pin-popup {
    display: block;
}
/*buat halaman map*/


